.config-panel {
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-bottom: 40px;
  &__set {
    height: fit-content;
    margin-top: 15px;
    margin-left: 15px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    &_none {
      display: none;
    }
  }
}

.limit-group {
  &__button {
    margin-top: 10px;
  }
}