.config-panel {
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  &__set {
    height: fit-content;
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    padding: 10px;
    &_none {
      display: none;
    }
  }
}

.limit-group {
  &__button {
    margin-top: 10px;
  }
}