.input-screen {
  padding: 15px 30px;
  display: block;
  &_none {
    display: none;
  }
}

.client-code {
  &__options {
    display: flex;
    flex-direction: column;
    &_none {
      display: none;
    }
  }
  &__default {
    &_none {
      display: none;
    }
  }
}