include ../form-set/form-set
include sections/client-code/client-code

mixin input-screen
  .input-screen.input-screen_none.js-input-screen
    +form-set({ title: "Опции обновления", isGrouped: true })
      +client-code