include ../form-set/form-set
include ../client-code/client-code

mixin input-screen
  SECTION.input-screen.input-screen_none.js-input-screen
    +form-set({ title: "Опции обновления", isGrouped: true })
      +client-code
