extends ../../layouts/layout

include ../../components/simple-config-panel/simple-config-panel.pug

block variables
  -
    const options = {
      title: "Simple demo",
      description: "Несколько слайдеров с разными параметрами и панелью обновления под каждым",
      keywords: "slider, demo-page, simple, update-panel, configure",
    }

block content
  .simple-demo.js-simple-demo
    .simple-demo__item.js-item
      .js-slider
      +simple-config-panel
    .simple-demo__item.js-item
      .js-slider
      +simple-config-panel
    .simple-demo__item.js-item
      .js-slider
      +simple-config-panel
    .simple-demo__item.js-item
      .js-slider
      +simple-config-panel
