extends ../../layouts/layout

include ../../components/config-panel/config-panel.pug
include sections/options-panel/options-panel

block variables
  -
    const options = {
      title: "MY-JQUERY-SLIDER",
      description: "Создание собственного jQuery плагина",
      keywords: "slider, demo-page",
    }

block content
  .main-demo.js-main-demo
    SECTION.main-demo__options-panel
      +options-panel
    SECTION.main-demo__sliders
      SECTION.main-demo__slider.js-slider-container
        .js-slider
      SECTION.main-demo__slider.main-demo__slider_none.js-slider-container
        .js-slider
      SECTION.main-demo__slider.main-demo__slider_none.js-slider-container
        .js-slider
      SECTION.main-demo__slider.main-demo__slider_none.js-slider-container
        .js-slider
    SECTION.main-demo__config-panel
      +config-panel
