extends ../../components/layout/layout

include ../../components/config-panel/config-panel.pug
include sections/options-panel/options-panel

block variables
  - const title = "MY-JQUERY-SLIDER"
  - const description = "Создание собственного jQuery плагина"
  - const page = "js-page"

block content
  SECTION.page__options-panel
    +options-panel
  SECTION.page__sliders
    SECTION.page__slider.js-slider-container
      .js-slider
    SECTION.page__slider.page__slider_none.js-slider-container
      .js-slider
    SECTION.page__slider.page__slider_none.js-slider-container
      .js-slider
    SECTION.page__slider.page__slider_none.js-slider-container
      .js-slider
  SECTION.page__config-panel
    +config-panel