@import '../../components/**/*.scss';
@import '../../styles/*.scss';
@import 'sections/**/*.scss';

.main-demo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: min-content;
  min-width: 100%;
  max-width: max-content;
  height: 1px;
  min-height: 100%;
  margin: 0;
  background-color: $main-light-hard;

  &__options-panel,
  &__sliders,
  &__config-panel {
    min-width: 100%;
    max-width: max-content;
    max-height: 33.33%;
    background-color: white;
    box-shadow: 0 0 25px $shadow;
  }

  &__options-panel,
  &__config-panel {
    position: relative;
    z-index: 1;
  }

  &__config-panel {
    min-height: 33.33%;
    padding: 15px;
    padding-top: 0;
    padding-left: 0;
    overflow-y: auto;
    background-color: $main-light-hard;
    box-shadow: inset 0 0 25px $shadow;
  }

  &__sliders {
    display: flex;
    flex-direction: column;
    max-height: min-content;
    padding: 0 1px;
    background-image: url('data:image/svg+xml,%3Csvg width="11.999999999999998" height="11.999999999999998" xmlns="http://www.w3.org/2000/svg"%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Crect fill="%23fff" stroke="%23000" x="60" y="104" width="28" height="39" id="svg_1"/%3E%3Crect stroke-width="0" id="svg_6" height="3" width="3" y="0" x="0" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_9" height="3" width="3" y="0" x="6" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_11" height="3" width="3" y="3" x="3" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_21" height="3" width="3" y="3" x="9" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_22" height="3" width="3" y="6" x="0" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_23" height="3" width="3" y="6" x="6" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_24" height="3" width="3" y="9" x="3" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_25" height="3" width="3" y="9" x="9" stroke="%23000" fill="%23f7f7f7"/%3E%3C/g%3E%3C/svg%3E');
    background-size: contain;
  }

  &__slider {
    display: block;

    &_none {
      display: none;
    }

    &_selected {
      border: 2px dashed $line;
    }
  }

  &_vertical {
    flex-flow: row wrap;
    width: 100%;
    max-width: 100%;
    height: max-content;
    max-height: max-content;

    .main-demo {
      &__options-panel,
      &__sliders,
      &__config-panel {
        min-width: min-content;
        max-width: 33.33%;
        max-height: max-content;
      }

      &__config-panel {
        padding: 15px;
        padding-top: 0;
        padding-left: 0;
        border: none;
      }

      &__sliders {
        flex-direction: row;
        padding: 0;
        overflow-y: visible;
      }
    }
  }
}
