@import '../../components/**/*.scss';
@import '../../assets/*.scss';

.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: $color-5per;
  &__options-panel,
  &__sliders,
  &__config-panel {
    max-height: 33.33%;
    min-width: 100%;
    max-width: max-content;

    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }
  &__options-panel,
  &__config-panel {
    position: relative;
    z-index: 1;
  }
  &__config-panel {
    padding: 15px;
    padding-top: 0;
    padding-left: 0;
    overflow-y: auto;
    background-color: $color-5per;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.2);
    min-height: 33.33%;
  }
  &__sliders {
    background-image: url('data:image/svg+xml,%3Csvg width="11.999999999999998" height="11.999999999999998" xmlns="http://www.w3.org/2000/svg"%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Crect fill="%23fff" stroke="%23000" x="60" y="104" width="28" height="39" id="svg_1"/%3E%3Crect stroke-width="0" id="svg_6" height="3" width="3" y="0" x="0" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_9" height="3" width="3" y="0" x="6" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_11" height="3" width="3" y="3" x="3" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_21" height="3" width="3" y="3" x="9" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_22" height="3" width="3" y="6" x="0" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_23" height="3" width="3" y="6" x="6" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_24" height="3" width="3" y="9" x="3" stroke="%23000" fill="%23f7f7f7"/%3E%3Crect stroke-width="0" id="svg_25" height="3" width="3" y="9" x="9" stroke="%23000" fill="%23f7f7f7"/%3E%3C/g%3E%3C/svg%3E');
    background-size: contain;
    max-height: min-content;
    display: flex;
    flex-direction: column;
  }
  &__slider {
    display: block;
    &_none {
      display: none;
    }
    &_selected {
      border: 2px dashed $color-10per;
    }
  }
  &_vertical {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: max-content;
    height: max-content;
    .page {
      &__options-panel,
      &__sliders,
      &__config-panel {
        max-height: max-content;
        min-width: min-content;
        max-width: 33.33%;
      }
      &__config-panel {
        border: none;
        padding: 15px;
        padding-top: 0;
        padding-left: 0;
      }
      &__sliders {
        flex-direction: row;
        overflow-y: visible;
      }
    }
    .options-panel {
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
      max-height: 100%;
      max-width: 100%;
      padding-bottom: 10px;
      &__item {
        max-width: 100%;
        overflow: visible;
      }
    }
  }
}

.options-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-width: max-content;
  max-height: 100%;
  height: 100%;
  border: none;
  padding: 1px;
  &__item {
    height: calc(100% - 4px);
    border: 1px solid $color-10per;
    border-radius: 5px;
    margin: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    &_none {
      display: none;
    }
  }
}