extends ../../components/layout/layout

block variables
  - const title = "Horizontal sliders"
  - const description = "Множество горизонтальных слайдеров с разными параметрами"
  - const keywords = "slider, demo-page, horizontal, parameters"

block content
  .js-slider
  .js-slider
  .js-slider