extends ../../components/layout/layout

block variables
  - const title = "Default vertical full-size"
  - const description = "Дефолтный вертикальный слайдер при высоте body в 100%"
  - const keywords = "slider, demo-page, default, vertical, full-size"

block content
  .js-slider