include ../form-set/form-set.pug
include ../toggle/toggle.pug
include ../link/link.pug

mixin demo-settings
  .demo-settings.js-demo-settings
    +form-set({ title: "Настройки демонстрации", isGrouped: true })
      .form-set__element
        +link({ link: "pages/simple-demo.html", text: "Упрощенная демо-страница" })
      .form-set__element.form-set__element_indented
        +radio-group({
            name: "demo-orientation",
            isCol: true,
            set: [
              {label: "Строки", value: "row", isChecked: true },
              {label: "Колонки", value: "col" },
            ],
          })
      .form-set__element.form-set__element_indented
        +toggle({ label: "Использовать опции", name: 'options' })
      .form-set__element.form-set__element_indented
        +radio-group({
            name: "demo-mode",
            isCol: true,
            set: [
              {label: "Инициализировать", value: "init", isChecked: true },
              {label: "Обновлять", value: "update" },
            ],
          })
      .form-set__element.form-set__element_indented
        +toggle({ label: "Несколько слайдеров", name: 'more-sliders' })
      .form-set__element.form-set__element_indented
        +radio-group({
            name: "current",
            isCol: true,
            set: [
              {label: "Применять к первому", value: 0, isChecked: true, isDisabled: true },
              {label: "Применять ко второму", value: 1, isDisabled: true },
              {label: "Применять к третьему", value: 2, isDisabled: true },
              {label: "Применять к четвертому", value: 3, isDisabled: true },
            ],
          })
      .form-set__element.form-set__element_indented
        +toggle({ label: "Обратная синхронизация", name: 'double-sync', isChecked: true })
      .form-set__element.form-set__element_indented
        +toggle({ label: "Код подключения / обновления", name: 'input-panel' })
      .form-set__element.form-set__element_indented
        +toggle({ label: "Получаемая конфигурация", name: 'output-panel' })
      .form-set__element.form-set__element_indented
        +toggle({ label: "Информация о событиях", name: 'event-panel' })