include ../form-set/form-set.pug
include ../toggle/toggle.pug

mixin demo-settings
  .demo-settings.js-demo-settings
    +form-set({ title: "Настройки демонстрации", isGrouped: true })
      .form-group
        .form-group__item
          +toggle({ label: "Использовать опции", name: 'options' })
        .form-group__item
          +radio-group({
              name: "demo-mode",
              options: [
                {label: "Инициализировать", value: "init", isChecked: true },
                {label: "Обновлять", value: "update" },
              ],
            })