include ../form-set/form-set.pug
include ../toggle/toggle.pug
include ../link/link.pug

mixin demo-settings
  -
    const linkOptions = {
      link: "/",
      text: "Упрощенная демо-страница",
    };
    const orientationOptions = {
      name: "demo-orientation",
      isCol: true,
      set: [
        { label: "Строки", value: "row", isChecked: true },
        { label: "Колонки", value: "col" },
      ],
    };
    const demoModeOptions = {
      toggle: { label: "Использовать опции", name: "options" },
      group: {
        name: "demo-mode",
        isCol: true,
        set: [
          {
            label: "Инициализировать",
            value: "init",
            isChecked: true,
          },
          { label: "Обновлять", value: "update" },
        ],
      },
    };
    const slidersOptions = {
      toggle: { label: "Несколько слайдеров", name: "more-sliders" },
      group: {
        name: "current",
        isCol: true,
        set: [
          {
            label: "Применять к первому",
            value: 0,
            isChecked: true,
            isDisabled: true,
          },
          {
            label: "Применять ко второму",
            value: 1,
            isDisabled: true,
          },
          {
            label: "Применять к третьему",
            value: 2,
            isDisabled: true,
          },
          {
            label: "Применять к четвертому",
            value: 3,
            isDisabled: true,
          },
        ],
      },
    };
    const syncToggleOptions = {
      label: "Обратная синхронизация",
      name: "double-sync",
      isChecked: true,
    };
    const panelsToggleOptions = [
      { label: "Код подключения / обновления", name: "input-panel" },
      { label: "Получаемая конфигурация", name: "output-panel" },
      { label: "Информация о событиях", name: "event-panel" },
    ];


  SECTION.demo-settings.js-demo-settings
    +form-set({ title: "Настройки демонстрации", isGrouped: true })
      P.form-set__element
        +link(linkOptions)
      SECTION.form-set__element.form-set__element_indented
        +radio-group(orientationOptions)
      P.form-set__element.form-set__element_indented
        +toggle(demoModeOptions.toggle)
      SECTION.form-set__element.form-set__element_indented
        +radio-group(demoModeOptions.group)
      P.form-set__element.form-set__element_indented
        +toggle(slidersOptions.toggle)
      SECTION.form-set__element.form-set__element_indented
        +radio-group(slidersOptions.group)
      P.form-set__element.form-set__element_indented
        +toggle(syncToggleOptions)
      each panelToggleOptions in panelsToggleOptions
        P.form-set__element.form-set__element_indented
          +toggle(panelToggleOptions)
