include ../form-set/form-set.pug
include ../toggle/toggle.pug

mixin demo-settings
  .demo-settings.js-demo-settings
    +form-set({ title: "Настройки демонстрации", isGrouped: true })
      .form-set__element
        +toggle({ label: "Использовать опции", name: 'options' })
      .form-set__element.form-set__element_indent-in_toggles
        +radio-group({
            name: "demo-mode",
            options: [
              {label: "Инициализировать", value: "init", isChecked: true },
              {label: "Обновлять", value: "update" },
            ],
          })
      .form-set__element.form-set__element_indent-in_toggles
        +radio-group({
            name: "demo-orientation",
            options: [
              {label: "Строки", value: "row", isChecked: true },
              {label: "Колонки", value: "col" },
            ],
          })