mixin client-code
  SECTION.client-code
    SECTION.client-code__options.js-client-code-options
      CODE.client-code__line= "$('.my-slider').multiRangeSlider("
      PRE.client-code__format-box
        CODE.input.js-input
      CODE.client-code__line= ');'
    SECTION.client-code__default.client-code__none.js-client-code-default
      CODE.client-code__line= "$('.my-slider').multiRangeSlider();"
