include ../form-set/form-set.pug
include ../text-field/text-field.pug
include ../toggle/toggle.pug

mixin simple-config-panel
  -
    const textFieldSetsOptions = [
      {
        set: { title: "min", isEmpty: true },
        field: { value: "0", type: "number", name: "min" },
      },
      {
        set: { title: "max", isEmpty: true },
        field: { value: "100", type: "number", name: "max" },
      },
      {
        set: { title: "step", isEmpty: true },
        field: { value: "1", type: "number", name: "step" },
      },
      {
        set: { title: "value", isEmpty: true },
        field: { value: "50", type: "number", name: "value" },
        isValue: true,
      },
      {
        set: { title: "from", isEmpty: true },
        field: { value: "25", type: "number", name: "min-interval" },
        isInterval: true,
      },
      {
        set: { title: "to", isEmpty: true },
        field: { value: "75", type: "number", name: "max-interval" },
        isInterval: true,
      },
    ];
    const toggleSetsOptions = [
      {
        set: { title: "vertical", isEmpty: true, isShort: true },
        toggle: { name: "is-vertical", isShort: true },
      },
      {
        set: { title: "range", isEmpty: true, isShort: true },
        toggle: { name: "is-double", isShort: true },
      },
      {
        set: { title: "scale", isEmpty: true, isShort: true },
        toggle: {
          name: "with-scale",
          isChecked: true,
          isShort: true,
        },
      },
      {
        set: { title: "bar", isEmpty: true, isShort: true },
        toggle: {
          name: "with-color",
          isChecked: true,
          isShort: true,
        },
      },
      {
        set: { title: "tip", isEmpty: true, isShort: true },
        toggle: { name: "with-label", isShort: true },
      },
    ];

  .simple-config-panel.js-simple-config-panel
    .simple-config-panel__fields
      each textFieldSetOptions in textFieldSetsOptions
        - const { isInterval, isValue } = textFieldSetOptions;
        .simple-config-panel__set(
          class=isInterval ? "simple-config-panel__set_none" : "",
          class=isInterval ? "js-interval-set" : "",
          class=isValue ? "js-value-set" : ""
        )
          +form-set(textFieldSetOptions.set)
            .form-set__element.form-set__element_indent-mid
              +text-field(textFieldSetOptions.field)
    .simple-config-panel__toggles
      each toggleSetOptions in toggleSetsOptions
        .simple-config-panel__set
          +form-set(toggleSetOptions.set)
            .form-set__element.form-set__element_indent-mid
              +toggle(toggleSetOptions.toggle)
