.simple-config-panel {
  padding: 2px 5px;

  &__fields,
  &__toggles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__set {
    display: block;
    margin: 2px;
    padding: 10px;
    border: 1px solid $line;
    border-radius: 5px;

    &_none {
      display: none;
    }
  }
}
