@import '/styles/colors';

@keyframes blink-fade {
  25% {
    background: $additional-1;
    transform: scale(1.3);
  }
}

$block: 'event-indicators';

.#{$block} {
  display: block;
  padding: 10px;

  &_none {
    display: none;
  }

  &__code {
    display: flex;
    flex-direction: column;
  }

  &__update {
    margin-top: 40px;
  }

  &__line {
    position: relative;
    width: max-content;

    &_blinked {
      &::before {
        position: absolute;
        top: 1px;
        right: -26px;
        width: 20px;
        height: 20px;
        border: 1px solid $additional-1;
        border-radius: 10px;
        content: '';
      }

      &::after {
        position: absolute;
        top: 5px;
        right: -22px;
        width: 12px;
        height: 12px;
        background: $additional-1-gradient;
        border-radius: 10px;
        content: '';
      }
    }

    &_blink::after {
      animation: blink-fade 0.5s ease-in;
    }
  }
}
