@import '/assets/colors.scss';

.event-indicators {
  padding: 10px 10px;
  display: block;
  &_none {
    display: none;
  }
  &__code {
    display: flex;
    flex-direction: column;
  }
  &__update {
    margin-top: 40px;
  }
  &__line {
    position: relative;
    width: fit-content;
    &_blinked {
      &::before {
        content: '';
        position: absolute;
        top: 1px;
        right: -26px;
        width: 20px;
        height: 20px;
        border: 1px solid $color-yellow;
        border-radius: 10px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: -22px;
        width: 12px;
        height: 12px;
        background: linear-gradient(180deg, $color-yellow 0%, $color-yellow-end 100%);
        border-radius: 10px;
      }
      &.event-indicators__line_blink {
        &::after {
          animation: blink-fade 0.5s ease-in;
        }
        @keyframes blink-fade {
          25% { 
            background: $color-yellow;
            transform: scale(1.3);
          }
        }
      }
    }
  }
}