@import '../../components/**/*.scss';
@import '../../styles/*.scss';
@import 'sections/**/*.scss';

.extended-demo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: min-content;
  min-width: 100%;
  max-width: max-content;
  height: 1px;
  min-height: 100%;
  margin: 0;
  background-color: $main-light-hard;

  &__options-panel,
  &__sliders,
  &__config-panel {
    min-width: 100%;
    max-width: max-content;
    max-height: 33.33%;
    background-color: $bg-main;
    box-shadow: 0 0 25px $shadow;
  }

  &__options-panel,
  &__config-panel {
    position: relative;
    z-index: 1;
  }

  &__config-panel {
    min-height: 33.33%;
    padding: 15px;
    padding-top: 0;
    padding-left: 0;
    overflow-y: auto;
    background-color: $main-light-hard;
    box-shadow: inset 0 0 25px $shadow;
  }

  &__sliders {
    display: flex;
    flex-direction: column;
    max-height: min-content;
    padding: 0 1px;
    background-image: url('images/bg.svg');
    background-size: contain;
  }

  &__slider {
    display: block;

    &_none {
      display: none;
    }

    &_selected {
      border: 2px dashed $line;
    }
  }

  &_vertical {
    flex-flow: row wrap;
    width: 100%;
    max-width: 100%;
    height: max-content;
    max-height: max-content;

    .extended-demo {
      &__options-panel,
      &__sliders,
      &__config-panel {
        min-width: min-content;
        max-width: 33.33%;
        max-height: max-content;
      }

      &__config-panel {
        padding: 15px;
        padding-top: 0;
        padding-left: 0;
        border: none;
      }

      &__sliders {
        flex-direction: row;
        padding: 0;
        overflow-y: visible;
      }
    }
  }
}
