extends ../../components/layout/layout

block variables
  - const title = "Default"
  - const description = "Дефолтный горизонтальный слайдер"
  - const keywords = "slider, demo-page, default, horizontal"

block content
  .js-slider