include ../form-set/form-set.pug
include ../toggle/toggle.pug

mixin toggler
  -
    const togglesOptions = [
      { label: "Минимальное значение", name: "min" },
      { label: "Максимальное значение", name: "max" },
      { label: "Текущее значение", name: "value" },
      { label: "Шаг", name: "step" },
      { label: "Ориентация", name: "orientation" },
      { label: "Режим двойного слайдера", name: "is-double" },
      { label: "Минимальный интервал", name: "min-interval" },
      { label: "Максимальный интервал", name: "max-interval" },
      { label: "Активный диапазон", name: "active-range" },
      { label: "Лимиты", name: "limits" },
      { label: "Режим с подписью", name: "with-label" },
      { label: "Вид подписи", name: "label" },
      { label: "Шкала", name: "scale" },
      { label: "Количество сегментов шкалы", name: "segments" },
      { label: "Режим шкалы с засечками", name: "with-notch" },
      { label: "Список имен", name: "labels-list" },
      { label: "Актуальные диапазоны", name: "actual-ranges" },
      { label: "Длина в пикселях", name: "length-px" },
      { label: "Режим с отступами", name: "with-indent" },
    ];

  SECTION.toggler.js-toggler
    +form-set({ title: "Используемые опции", isGrouped: true })
      each toggleOptions in togglesOptions
        P.form-set__element
          +toggle(toggleOptions)