include ../form-set/form-set.pug
include ../toggle/toggle.pug

mixin toggler
  .toggler.js-toggler
    +form-set({ title: "Используемые опции", isGrouped: true })
      +toggle({ label: "Минимальное значение", name: 'min' })
      +toggle({ label: "Максимальное значение", name: 'max' })
      +toggle({ label: "Текущее значение", name: 'value' })
      +toggle({ label: "Шаг", name: 'step' })
      +toggle({ label: "Ориентация", name: 'orientation' })
      +toggle({ label: "Режим двойного слайдера", name: 'is-double' })
      +toggle({ label: "Минимальный интервал", name: 'min-interval' })
      +toggle({ label: "Максимальный интервал", name: 'max-interval' })
      +toggle({ label: "Активный диапазон", name: 'active' })
      +toggle({ label: "Лимиты", name: 'limits' })
      +toggle({ label: "Режим с подписью", name: 'with-label' })
      +toggle({ label: "Вид подписи", name: 'label' })
      +toggle({ label: "Вид шкалы", name: 'scale' })
      +toggle({ label: "Количество сегментов шкалы", name: 'segments' })
      +toggle({ label: "Режим шкалы с засечками", name: 'with-notch' })
      +toggle({ label: "Актуальные диапазоны", name: 'actual-ranges' })
      +toggle({ label: "Длина в пикселях", name: 'length-px' })
      +toggle({ label: "Режим с отступами", name: 'with-indent' })