include ../widget/widget.pug

mixin pages-panel 
  .pages-panel.js-pages-panel
    +widget({
      title: "Упрощенные демо-страницы",
      links: [
        { link: "/pages/default.html", text: "Дефолтный горизонтальный" },
        { link: "/pages/vertical.html", text: "Дефолтный вертикальный" },
        { link: "/pages/vertical-full-size.html", text: "Дефолтный вертикальный, при высоте body в 100%" },
        { link: "/pages/horizontal-sliders.html", text: "Множество горизонтальных с разными параметрами" },
        { link: "/pages/simple-demo.html", text: "Несколько, с разными параметрами и панелью обновления под каждым" },
      ]
    })
