extends ../../components/layout/layout

block variables
  - const title = "Default vertical"
  - const description = "Дефолтный вертикальный слайдер"
  - const keywords = "slider, demo-page, default, vertical"

block content
  .js-slider