@import 'types';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: min-content;
  min-width: 100%;
  max-width: max-content;
  height: 1px;
  min-height: 100%;
  margin: 0;

  @include base-type;
}
