extends layout

include components/config-panel/config-panel.pug
include components/toggler/toggler.pug
include components/demo-settings/demo-settings.pug
include components/input-screen/input-screen.pug
include components/output-screen/output-screen.pug
include components/event-indicators/event-indicators.pug

block variables
  - const title = "MY-JQUERY-SLIDER"
  - const description = "Создание собственного jQuery плагина"
  - const page = "js-page"

block content
  SECTION.page__options-panel
    .options-panel
      .options-panel__item.options-panel__item_first
        +demo-settings
      .options-panel__item
        +toggler
      .options-panel__item
        +input-screen
      .options-panel__item
        +output-screen
      .options-panel__item
        +event-indicators
  SECTION.page__sliders
    SECTION.page__slider.js-slider-container
      .js-slider
    SECTION.page__slider.js-slider-container
      .js-slider
    SECTION.page__slider.js-slider-container
      .js-slider
    SECTION.page__slider.js-slider-container
      .js-slider
  SECTION.page__config-panel
    +config-panel