extends layout

include components/config-panel/config-panel.pug
include components/toggler/toggler.pug
include components/demo-settings/demo-settings.pug
include components/input-screen/input-screen.pug

block variables
  - var title = "MY-JQUERY-SLIDER"
  - var description = "Создание собственного jQuery плагина"

block content
  SECTION.page__options-panel
    .options-panel
      .options-panel__demo-settings
        +demo-settings
      .options-panel__toggler
        +toggler
      .options-panel__input
        +input-screen
      PRE.options-panel__output
        CODE.output.js-output
  SECTION.page__slider
    .js-slider
  SECTION.page__config-panel
    +config-panel