extends layout

block variables
  - var title = 'MY-JQUERY-SLIDER'
  - var descr = 'Создание собственного jQuery плагина'

block content
  pre#config1
  #slider1
  pre#config2
  #slider2
  pre#config3
  #slider3
  pre#config4
  #slider4
  pre#config5
  #slider5
  pre#config6
  #slider6
  pre#config7
  #slider7
  pre#config8
  #slider8
  pre#config9
  #slider9
  pre#config10
  #slider10
  pre#config11
  #slider11
  pre#config12
  #slider12
  pre#config13
  #slider13
  pre#config14
  #slider14
  pre#config15
  #slider15
  pre#config17
  #slider17
  pre#config18
  #slider18
  pre#config19
  #slider19
  pre#config20
  #slider20
  pre#config21
  #slider21
  pre#config22
  #slider22
  pre#config23
  #slider23
  pre#config24
  #slider24
  pre#config25
  #slider25
  pre#config26
  #slider26
  pre#config27
  #slider27
  pre#config28
  #slider28
  pre#config29
  #slider29
  pre#config30
  #slider30
  pre#config31
  #slider31
  pre#config32
  #slider32
  pre#config33
  #slider33
  pre#config34
  #slider34
  pre#config35
  #slider35
  pre#config36
  #slider36
  pre#config37
  #slider37
  pre#config38
  #slider38