@import 'types.scss';

// общие сбросы и настройки
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}
button{
  cursor: pointer;
}
a, 
a:visited, 
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

// базовые стили
html,
body {
  min-height: 100%;
  height: 1px;
  @include base-type;
}
h1 {
  @include h1-type;
}
h2 {
  @include h2-type;
}
h3 {
  @include h3-type;
}


.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  &__options-panel,
  &__slider,
  &__config-panel {
    max-height: 33.33%;
  }
}

.options-panel {
  display: flex;
  justify-content: center;
  max-height: 100%;
  border-bottom: 2px solid gray;
  &__toggler,
  &__demo-settings {
    max-width: 20%;
  }
  &__output {
    padding: 20px 100px;
    overflow: auto;
  }
  &__input,
  &__output,
  &__toggler {
    border-left: 2px dashed gray;
  }
}