.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.panel {
    display: flex;
}

.configs {
    display: flex;
    pre {
        margin: 10px 30px;
        min-width: 300px;
    }
}

.configurator {
    display: flex;
    flex-wrap: wrap;
}

.test-box {
    width: 100%;
}